* {
  margin: 0;
  padding: 0;
  font-family: six caps;
}
h1 {
  text-align: center;
  background: #175707;
  color: white;
  letter-spacing: .2em;
  font-size: 4rem;
}
h2 {
  text-align: center;
  background: #662608;
  background-size: 100%;
  color: white;
  letter-spacing: .2em;
  font-size: 2rem;
  border-top: 5px solid black;
}
table, th, td {
  border-top: 2px solid black;
}
table {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  border-collapse: collapse;
  font-size: x-large;
}
th {
  text-align: left;
  background-color: #662608;
  color: white;
}
tr:hover { 
  color: white;
  background: #04410c; 
}
tr:active { 
  color: white;
  background: #662608; 
}
button {
  font-size: x-large;
}
input {
  font-size: x-large;
}
label {
  font-size: x-large;
}
.topo-images {
  display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 2%;
}
.topo-image {
  margin: 4px;
}
.topo-image:hover {
  cursor: grab;
  margin: 2px;
  border: 2px solid black;
}
