* {
  font-family: six caps;
  font-size: 1rem;
}
h1 {
  margin: auto;
  text-align: center;
  background: #175707;
  color: white;
  letter-spacing: .1em;
  font-size: 3rem;
}
h2 {
  margin: auto;
  text-align: center;
  background: #662608;
  background-size: 100%;
  color: white;
  letter-spacing: .1em;
  font-size: 2rem;
}
table {
  margin: auto;
  width: 40rem;
  margin-top: 1rem;
  border-collapse: collapse;
  border: 0.1rem solid white;
  border-top: 0.2rem solid white;
  font-size: 2rem;
}
th {
  text-align: left;
  background-color: #662608;
  color: white;
  border: 0.1rem solid white;
  border-top: 0.2rem solid white;
}
td {
  border: 0.1rem solid white;
  border-top: 0.2rem solid white;
}
tr:hover { 
  color: white;
  background: #04410c; 
}
tr:active { 
  color: white;
  background: #662608; 
}
td {
  height: 2rem;
}
canvas {
  margin: auto;
}