:root {
  --tgt-font: six caps;
  --tgt-header-background-color: #175707;
  --tgt-subheader-background-color: #662608;
  --tgt-std-light-color: white;
  --tgt-std-dark-color: darkgray;
  --tgt-std-background-color: lightgray;
  --tgt-highlight-background-color: darkgray;
}

html {
  font-family: var(--tgt-font);
  background-color: var(--tgt-std-background-color);
}

.tgt-header {
  display: block;
  margin: auto;
  background: var(--tgt-header-background-color);
  color: var(--tgt-std-light-color);
  font-size: 3rem;
  letter-spacing: .1em;
  text-align: center;
}

.tgt-header:hover {
  cursor: pointer;
}

.tgt-subheader {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--tgt-subheader-background-color);
  color: var(--tgt-std-light-color);
  letter-spacing: .1em;
  font-size: 2rem;
}

.crag-view-icon-bar {
  font-size: 2rem;
  text-align: center;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  color: var(--tgt-std-dark-color);
}

.tgt-icon-address {
  text-decoration: none;
}

.crag-view-icon {
  cursor: pointer;
  color: var(--tgt-std-dark-color);
  font-family: var(--tgt-font);
}

.crag-view-icon:hover {
  cursor: pointer;
  color: var(--tgt-std-light-color);
}

.crag-view-icon-text {
  font-family: var(--tgt-font);
}

.crag-cover-header {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  background: var(--tgt-header-background-color);
  background-size: 100%;
  color: var(--tgt-std-light-color);
  letter-spacing: .1em;
  font-size: 2rem;
}

.crag-cover-image {
  margin-bottom: 1rem;
}

.crag-covers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: top;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: lightgrey;
}

.crag_cover-container:hover {
  cursor: pointer;
}

.topo-images-container-initial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  background-color: var(--tgt-std-background-color);
}

.topo-images-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  overflow-x: auto;
  gap: 0.5rem;
  justify-content: safe center;
  background-color: var(--tgt-std-background-color);
}

.topo-container:hover {
  background-color: var(--tgt-highlight-background-color);
}

.topo-container-selected {
  background-color: var(--tgt-highlight-background-color);
}

.topo-image {
  max-width: 100%;
}

.topo-image:hover {
  cursor: pointer;
}

.main-topo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: top;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--tgt-std-background-color);
}

.main-topo-container-edit {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--tgt-std-background-color);
}

.edit-topo-container {
  display: block;
  margin: auto;
  background-color: var(--tgt-std-background-color);
}

.topo-image-container {
  background-color: var(--tgt-std-background-color);
}

.icon-bar {
  display: block;
  margin: auto;
  font-size: 2rem;
  background-color: white;
}

.icon-bar a {
  float: center;
  text-align: center;
  transition: all 0.3s ease;
  color: black;
  font-size: 3rem;
}

.icon-bar input {
  display: block;
  font-size: 2rem;
}

.icon-bar label {
  font-size: 2rem;
}

.icon-bar a:hover {
  background-color: grey;
}

.table-header {
  color: var(--tgt-std-light-color);
  background-color: var(--tgt-header-background-color);
  font-size: 2rem;
}

.topo-route-table-container {
  margin-top: 1rem;
  width: 100%;
}

.topo-route-table {
  margin: auto;
  border-collapse: collapse;
  font-size: 2.5rem;
  width: min(100% - 2rem, 60rem);
  text-align: left;
}

.topo-route-table-edit {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}

.topo-route-table-edit:hover {
  cursor: pointer;
}

.topo-route-table tr,.topo-route-table-edit tr {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  background-color: darkgray;
}

.topo-route-table td:nth-child(1),.topo-route-table-edit td:nth-child(1) {
  display: none;
}

.topo-route-table-edit tr:hover {
  color: lightgray;
}

.topo-route-table-row-selected {
  color: white;
}

.crag-route-table-container {
  margin-top: 1rem;
  width: 100%;
}

.crag-route-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}

.crag-route-table tr {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  background-color: darkgray;
}

.crag-route-table td {
  overflow:hidden;
  white-space:nowrap;
}

.crag-route-table td:nth-child(1) {
  display: none;
}

.crag-route-table td:nth-child(5):hover {
  color: white;
}

.crag-command-bar {
  margin: auto;
  margin-top: 1rem;
}

.main-topo-image-container {
  width: min(100% - 2rem, 60rem);
}

.main-topo-image-container-edit {
  width: 100%;
}

.main-topo-image {
  width: 100%;
}

.do-not-display {
  display: none;
}
