@import "default.css";

.topo-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.main-topo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-topo-image {
  width: min(50rem, 90%);
  height: min(50rem, 90%);
}

.main-topo-image, .topo-image {
  margin: 1rem;
}

.main-topo-image:hover {
  cursor: crosshair;
  margin: 1rem;
}

.topo-image:hover {
  cursor: grab;
  margin: 1rem;
}

.icon-bar {
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  margin-left: auto;
  margin-right: auto;
  float: center;
  text-align: center;
  width: 2rem;
  padding: 0rem 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 2rem;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.route-table {
  border-collapse: collapse;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid black;
}

.route-table-container {
  margin: auto;
  margin-top: 2%;
  width: min(600px, 90%);
  border-collapse: collapse;
  font-size: x-large;
}

.do-not-display {
  display: none;
}
