@import "default.css";

.topo-images-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  overflow-x: auto;
  grid-gap: 0.5rem;
  justify-content: safe center;
}

.crag-details {
  text-align: center;
  margin-top: 1rem;
}

.crag-view-header {
  text-align:center;
  margin-bottom: 1rem;
}

.close-crag-view-icon {
  font-size: 3rem;
  margin-left: 1rem;
  color: var(--icon)
}

.close-crag-view-icon:hover {
  cursor: pointer;
  color: var(--icon-hover)
}

.topo-route-table-container {
  margin-top: 1rem;
  width: 100%;
}

.topo-route-table-container table {
  margin: auto;
  border-collapse: collapse;
  font-size: 2.5rem;
  width: min(100% - 2rem, 60rem);
  text-align: left;
}

.topo-route-table-container tr {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  background-color: darkgray;
}

.topo-route-table-container td:nth-child(1) {
  display: none;
}
