@import "default.css";

.topo-images-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  overflow-x: auto;
  grid-gap: 0.5rem;
  justify-content: safe center;
}

.crag-details {
  text-align: center;
  margin-top: 1rem;
}

.crag-view-header {
  text-align:center;
  margin-bottom: 1rem;
}

.close-crag-view-icon {
  font-size: 3rem;
  margin-left: 1rem;
  color: var(--icon)
}

.close-crag-view-icon:hover {
  cursor: pointer;
  color: var(--icon-hover)
}

