:root {
  --tgt-font: six caps;
  --tgt-header-background-color: #175707;
  --tgt-subheader-background-color: #662608;
  --tgt-std-light-color: white;
  --tgt-std-dark-color: darkgray;
  --tgt-std-background-color: lightgray;
  --tgt-highlight-background-color: darkgray;
  --page-header-menu-text-not-selected: darkgray;
  --page-header-menu-text-selected: white;
  --page-header-menu-text-active: white;
  --icon: darkgray;
  --icon-hover: black;
  --crag-name-color: black;
  --default-border-color: darkgray;
  --crag-covers-column-count: 2;
  --crag-topos-column-count: 4;
  --unselected-border-color: darkgray;
  --selected-border-color: black;
}

label, input {
  font-family: var(--tgt-font);
  font-size: 2rem;
}

html {
  font-family: var(--tgt-font);
  background-color: var(--tgt-std-background-color);
}

i {
  margin: auto;
  padding: 0.5rem;
}

.page-header-text {
  background: var(--tgt-header-background-color);
  height: 3rem;
  color: var(--tgt-std-light-color);
  letter-spacing: .1em;
  font-family: var(--tgt-font);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* topo images media scroller */
.topo-images-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  overflow-x: auto;
  grid-gap: 0.5rem;
  justify-content: safe center;
}

.topo-container {
  display: flex;
  border-style: solid;
  border-color: var(--unselected-border-color);
}

.topo-container.selected {
  border-color: var(--selected-border-color);
}

.topo-image {
  width: 100%;
}

.topo-image:hover {
  cursor: pointer;
}

.main-topo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: top;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--tgt-std-background-color);
}

.main-topo-container-edit {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--tgt-std-background-color);
}

.edit-topo-container {
  display: block;
  margin: auto;
  background-color: var(--tgt-std-background-color);
}

.topo-image-container {
  background-color: var(--tgt-std-background-color);
}

.table-header {
  color: var(--tgt-std-light-color);
  background-color: var(--tgt-header-background-color);
  font-size: 2rem;
}

.topo-route-table-container {
  margin-top: 1rem;
  width: 100%;
}

.topo-route-table {
  margin: auto;
  border-collapse: collapse;
  font-size: 2.5rem;
  width: min(100% - 2rem, 60rem);
  text-align: left;
}

.topo-route-table-edit {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}

.topo-route-table-edit:hover {
  cursor: pointer;
}

.topo-route-table tr,.topo-route-table-edit tr {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  background-color: darkgray;
}

.topo-route-table td:nth-child(1),.topo-route-table-edit td:nth-child(1) {
  display: none;
}

.topo-route-table-edit tr:hover {
  color: lightgray;
}

.topo-route-table-row-selected {
  color: white;
}

.crag-route-table-container {
  margin-top: 1rem;
  width: 100%;
}

.crag-route-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}

.crag-route-table tr {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  background-color: darkgray;
}

.crag-route-table td {
  overflow:hidden;
  white-space:nowrap;
}

.crag-route-table td:nth-child(1) {
  display: none;
}

.crag-route-table td:nth-child(5):hover {
  color: white;
}

.crag-command-bar {
  margin: auto;
  margin-top: 1rem;
}

.main-topo-image-container {
  display: flex;
  width: min(100% - 2rem, 60rem);
  border-style: solid;
  border-color: var(--unselected-border-color);
}

.main-topo-image-container-edit {
  width: 100%;
}

.main-topo-image {
  width: 100%;
}

/* page header nav */
.page-header {
  background: var(--tgt-subheader-background-color);
  display: grid;
  margin: auto;
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.page-header-nav {
  font-size: 3rem;
  color: var(--tgt-std-light-color);
  background: var(--tgt-subheader-background-color);
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.page-header-nav-item {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-header-nav-item > a {
  font-size: 3rem;
  color: var(--page-header-menu-text-not-selected);
  background: var(--tgt-subheader-background-color);
  text-decoration: none;
}

.page-header-nav-item > a:hover {
  text-decoration: underline;
  color: var(--page-header-menu-text-selected);
  cursor: pointer;
}

.page-header-nav-item-active {
  text-decoration: underline;
  color: var(--page-header-menu-text-active);
}

/* icon bar */
.icon-bar-container {
  text-align:center;
  margin-bottom: 1rem;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: var(--tgt-std-dark-color);
}
.icon-bar-container > i {
  font-size: 4rem;
  color: var(--tgt-std-dark-color);
  background-color: var(--tgt-std-background-color);
}
.icon-bar-container > i:hover {
  cursor: pointer;
  color: var(--tgt-std-light-color);
}

/* crag covers */
.crag-covers-container {
  display: grid;
  grid-template-columns: repeat(var(--crag-covers-column-count),1fr);
  grid-gap: 1rem;
  width: 100%;
  background-color: lightgrey;
}
.crag-cover-container {
  display: flex;
  border-style: solid;
  border-color: var(--unselected-border-color);
}
.crag-cover-container.selected {
  border-color: var(--selected-border-color);
}
.crag-cover-container:hover {
  cursor: pointer;
}
.crag-cover-header {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  background: var(--tgt-header-background-color);
  background-size: 100%;
  color: var(--tgt-std-light-color);
  letter-spacing: .1em;
  font-size: 2rem;
}
.crag-cover-image {
  width: 100%;
}

/* crag details */
.crag-name {
  margin: auto;
  font-size: 3rem;
  color: var(--crag-name);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* keep at the bottom */
.do-not-display {
  display: none;
}
