@import "crag-index.css";

.status-bar-container {
  margin-bottom: 1rem;
}

.status-bar {
  display: block;
  margin: auto;
  font-size: 2rem;
  height: 3rem;
  background: var(--tgt-std-light-color);
}
